<!-- <a [routerLink]="skipNavigation">Skip to main content</a> -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class=" nav-link" routerLink="home" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: false}" routerLinkActive="active">About</a>
      <ul>
        <li><a class="nav-link" routerLink="about/about-us" routerLinkActive="active">About Us</a></li>
        <li><a class="nav-link" routerLink="about/our-clients" routerLinkActive="active">Our Clients</a></li>
        <li><a class="nav-link" routerLink="about/our-services" routerLinkActive="active">Services</a></li>
        <li><a class="nav-link" routerLink="about/our-partners" routerLinkActive="active">Partners</a></li>
        <li><a class="nav-link" routerLink="about/career-with-us" routerLinkActive="active">Career with us</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!currentUser">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="registration" routerLinkActive="active" *ngIf="!currentUser">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" *ngIf="currentUser" routerLinkActive="active">Logout</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="charts" routerLinkActive="active">Charts</a> 
    </li>  
    <li class="nav-item">
      <a class="nav-link" (click)="openModal()">Modal</a> 
    </li>  
  </ul>
</nav>

<app-modal-window [showModal]="showModalNoAccess">
  <span class="header">{{modalHeaderNoAccess}}</span>
  <div class="body">{{modalBodyNoAccess}}</div>
  <div class="footer">
    <button class="btn btn-secondary" (click)="closeModal()">Close</button>
   <!-- <button class="btn btn-primary" (click)="showModal = false">OK</button> -->
  </div>
</app-modal-window>