<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class=" nav-link" routerLink="home" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: false}" routerLinkActive="active">About</a>
      <ul>
        <li><a class="nav-link" routerLink="about/about-us" routerLinkActive="active">About Us</a></li>
        <li><a class="nav-link" routerLink="about/our-clients" routerLinkActive="active">Our Clients</a></li>
        <li><a class="nav-link" routerLink="about/our-services" routerLinkActive="active">Services</a></li>
        <li><a class="nav-link" routerLink="about/our-partners" routerLinkActive="active">Partners</a></li>
        <li><a class="nav-link" routerLink="about/career-with-us" routerLinkActive="active">Career with us</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!currentUser">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="registration" routerLinkActive="active" *ngIf="!currentUser">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" *ngIf="currentUser" routerLinkActive="active">Logout</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="charts" routerLinkActive="active">Charts</a> 
    </li>  
    <li class="nav-item">
      <a class="nav-link" (click)="openDemoModal()">Modal</a> 
    </li>  
  </ul>
  <div class="my-2 my-lg-0 user-profile" *ngIf="currentUser">
    Hello {{currentUser.firstName}} {{currentUser.lastName}} 
    <img class="profile-photo" src="assets/images/users/{{currentUser.photo}}" *ngIf="currentUser.photo"/>
  </div>
</nav>
<modal-window [showModal]="showModalNoAccess">
  <div modal-header>{{modalHeaderNoAccess}}</div>
  <div modal-body>{{modalBodyNoAccess}}</div>
  <div modal-footer>
    <button class="btn btn-secondary" (click)="closeModal()">Close</button>
  </div>
</modal-window>