<form class="form-inline">
    <div class="form-group mr-2">
        <label for="staticEmail2" class="sr-only">Action:</label>
        <select class="form-control" name="action" [(ngModel)]="actionStatus">
            <option value="">Select</option>
            <option value="activate">Activate</option>
            <option value="deactivate">Deactivate</option>
            <option value="delete">Delete</option>
        </select>
    </div>
    <button class="btn btn-primary" type="button" (click)="performAction()">GO</button>
</form>
<modal-window [showModal]="showModal">
    <span modal-header>Confirm Delete</span>
    <div modal-body>Are you sure you want to delete selected users</div>
    <div modal-footer>
        <button class="btn btn-secondary" (click)="showModal = false">Close</button>
        <button class="btn btn-primary" (click)="doDelete()">OK</button>
    </div>
</modal-window>