.strength-meter {
    font-size: 0.8rem;
    .strength-text {
        text-align: right;
        font-weight: bold;
    }
    .strength-wrapper {
        margin: 5px 0;
        background: #ddd;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        position: relative;
        &:before {
            content: "";
            height: inherit;
            background: 0 0;
            display: block;
            border-color: #683f56;
            border-style: solid;
            border-width: 0 5px;
            position: absolute;
            width: calc(((100% - 20px)/ 5) + 10px);
            // z-index: 10;
            left: calc((100% - 20px)/ 5);
        }

        &:after {
            top:0;
            right: calc((100% - 20px)/ 5);
            content: "";
            height: inherit;
            background: 0 0;
            display: block;
            border-color: #683f56;
            border-style: solid;
            border-width: 0 5px;
            position: absolute;
            width: calc(((100% - 20px)/ 5) + 10px);
            // z-index: 10;
        }
        .strength-bars {
            background: #ffffff;
            width: 0;
            height: 100%;
            border-radius: 5px;
            transition: width .5s ease-in-out, background .25s;
        }
    }

    &[data-strength-score="1"], &[data-strength-score="20"], &[data-strength-score="25"] {
        .strength-text {
            color: darkred
        }
        .strength-wrapper {
            .strength-bars {
                background: darkred;
                width: 20%
            }
        }
    }

    &[data-strength-score="2"], &[data-strength-score="40"], &[data-strength-score="33.33"] {
        .strength-text {
            color: #d24848
        }

        .strength-wrapper {
            .strength-bars {
                background: #d24848;
                width: 40%
            }
        }
    }

    &[data-strength-score="3"], &[data-strength-score="60"], &[data-strength-score="50"] {
        .strength-text {
            color: rgb(138, 131, 128)
        }

        .strength-wrapper {
            .strength-bars {
                background: orangered;
                width: 60%
            }
        }
    }

    &[data-strength-score="4"], &[data-strength-score="80"], &[data-strength-score="75"], &[data-strength-score="66.66"] {
        .strength-text {
            color: yellowgreen
        }

        .strength-wrapper {
            .strength-bars {
                background: yellowgreen;
                width: 80%
            }
        }
    }

    &[data-strength-score="5"], &[data-strength-score="100"], &[data-strength-score="99.99"] {
        .strength-text {
            color: #0cc70c
        }

        .strength-wrapper {
            .strength-bars {
                background: #0cc70c;
                width: 100%
            }
        }
    }
}