<a (click)="showModal = true;" class="delete">
    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
</a>

<modal-window [showModal]="showModal" (onClose)="closeModal()">
    <span modal-header>Confirm Delete</span>
    <div modal-body>Are you sure you want to delete the user: <strong>{{data.user_first_name}}
            {{data.user_last_name}}</strong></div>
    <div modal-footer>
        <button class="btn btn-secondary" (click)="showModal = false">Close</button>
        <button class="btn btn-primary" (click)="doDelete()">OK</button>
    </div>
</modal-window>
