<div class="autoComplete-main">
    <div class="input-wrap">
        <input class="form-control form-control-sm" [(ngModel)]="autoCompleteNgModel" type="text" name="autoCompleteNgModel" (ngModelChange)="this.autoCompleteUpdate.next($event)" autocomplete="off">
        <i *ngIf="apiInProgress" class="fa fa-spin  fa-circle-o-notch"></i>
    </div>
    <div class="results" *ngIf="items.length">
        <ul>
            <li *ngFor="let item of items" (click)="selectItem(item)">{{item.user_email}}</li>
        </ul>
    </div>
    <br />
    this.timeToCallApi: {{this.timeToCallApi / 1000}}
    <br />
    timerToGetResponse: {{timerToGetResponse / 1000}}
</div>