/* You can add global styles to this file, and also import other style files */
body{
    background: #f2a885;
    margin: 10px 20px;
}
a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    &:hover {
        color:red;
        text-decoration: none;
    }
}
h1 {font-size: 1.5rem;}
h2 {font-size: 1rem;}
table, .table {
    color:#fff;
}

/***************** Theming Starts ***********************/
.theme-block {
    color:#fff;
    background-color: #5a2640;
    .text-danger{font-weight:bold; color:#FF6347!important;}
    .card-header{background-color: rgb(93, 43, 69);}
    .btn-primary {
        color: #fff;
        background-color: #5a2640;
        border-color: #f2a885;
        &:hover {
            background-color: #2f1422;
        }
    }
    
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #551e39;
        border-color: #f2a885;
    }
    button{color: #fff;}
    .theme-block{
        background-color: #5A2624;
    }
}
/***************** Theming Ends ***********************/
